@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 2s ease-out;
  }
 
.text{
  color: rgb(70, 108, 224);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
 .text1{
  color: rgb(18, 44, 122);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 }
  


